.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin: 10px;
 }
 .row .col .m6 {
    width: 46%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin: 10px;
 }
.row .col.m12 {
    width: 95%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin: 10px;
}
.row .col .l3 {
	width: 22%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin: 10px;
}
