.container {
	background: white;
	display: flex;
	flex-direction: row;
}
body {
	background: #1f1f1f;
}
.container {
	width: 575px;
}
.block1 {
	display: flex;
}
.block2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 345px;

}
.block3 {
	display: flex;
	flex-direction: column;
}
.violetbox {
	width: 105px;
	height: 207px;
	background: #710124;
	margin: 5px;
}
.pinkbox {
	width: 105px;
	height: 95px;
	background: #cd4156;
	margin: 5px;
}
.coralbox {
	width: 105px;
	height: 264px;
	background: #fe7e51;
	margin: 5px;
}
.beigebox {
	width: 105px;
	height: 165px;
	background: #febf93;
	margin: 5px;
}
.number {
	display: block;
	height: 20px;
	width: 23px;
	background: #1f1f1f;
	font-size: 12px;
	padding-top: 6px;
	font-weight: bold;
	text-align: center;
}
.violetbox .number {
	color: #710124;
}
.pinkbox .number {
	color: #cd4156;
}
.coralbox .number {
	color: #fe7e51;
}
.beigebox .number {
	color: #febf93;
} 